
.audio-track {
    width: 250px;
    height: 5px;
    background-color: red;
    /* margin: 20px 0; */
    position: relative;
}
 
.time {
    width: 0;
    height: 5px;
    background-color: black;
    position: absolute;
}

.seekbar {
    width: 0;
    height: 5px;
    background-color: brown;
    position: absolute;
    opacity: 0;
}

.seekbar-icon {
    margin: 0;
    padding: 0;
    width: 10px;
    height: 10px;
    position: absolute;
    top: -5px;    
    background-color: brown;
    border-radius: 50%;
    border: 2px solid white;
    left: 0;
    transform: translateX(-50%);
    opacity: 0;
}

.control-buttons {
    margin-top: 10px;
    margin-bottom: 0px;
    display: flex;
    width: 250px;
    justify-content: space-evenly;
}

.control-buttons button {
    background-color:cadetblue;
}

#playing-song {
    position: absolute;
}

#audio-player {
    padding-top: 10px;
    height: 100px;
    display: flex;
    width: 100%;
    margin-top: 20px;
    margin-left: 20;
    margin-right: auto;
    justify-content: center;
    background-color: aqua;
}

.shuffle enabled {
    background-color: black;
}

.shuffle disabled {
    background-color:cadetblue;
}