aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
alembic==1.14.0
annotated-types==0.7.0
anyio==4.6.2.post1
async-timeout==4.0.3
attrs==24.2.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
exceptiongroup==1.2.2
fastapi==0.115.4
fastapi-utils==0.8.0
ffmpeg-python==0.2.0
frozenlist==1.5.0
future==1.0.0
gevent==24.10.3
greenlet==3.1.1
h11==0.14.0
h2==4.1.0
hpack==4.0.0
Hypercorn==0.17.3
hyperframe==6.0.1
idna==3.10
Mako==1.3.6
MarkupSafe==3.0.2
multidict==6.1.0
mutagen==1.47.0
mypy-extensions==1.0.0
passlib==1.7.4
priority==2.0.0
propcache==0.2.0
psutil==5.9.8
psycopg2-binary==2.9.10
pydantic==2.9.2
pydantic_core==2.23.4
pydub==0.25.1
PyJWT==2.9.0
requests==2.32.3
sniffio==1.3.1
SQLAlchemy==2.0.36
sqlmodel==0.0.22
starlette==0.41.2
taskgroup==0.0.0a4
tomli==2.0.2
typing-inspect==0.9.0
typing_extensions==4.12.2
urllib3==2.2.3
uvicorn==0.32.0
Wave==0.0.2
websocket==0.2.1
websockets==14.0
wsproto==1.2.0
yarl==1.17.1
zope.event==5.0
zope.interface==7.1.1